{% extends "company/index.html" %}
{% block body %}

    <style>
    body {
    background-color: #eee
}


.card {
    background-color: #fff;
    border: none;
    border-radius: 10px;
    width: 190px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.image-container {
    position: relative;

}

.thumbnail-image {
    border-radius: 10px !important;
    height: 200px;
    width: 250px;

}

.discount {
    background-color: red;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 4px;
    padding-right: 4px;
    font-size: 10px;
    border-radius: 6px;
    color: #fff
}

.wishlist {
    height: 25px;
    width: 25px;
    background-color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.first {
    position: absolute;
    width: 100%;
    padding: 9px
}

.dress-name {
    font-size: 13px;
    font-weight: bold;
    width: 75%
}

.new-price {
    font-size: 13px;
    font-weight: bold;
    color: red
}

.old-price {
    font-size: 8px;
    font-weight: bold;
    color: grey
}

.btn {
    width: 80px;
    height: 30px;

    padding: 3px
}

.creme {
    background-color: #fff;
    border: 2px solid grey
}

.creme:hover {
    border: 3px solid grey
}

.creme:focus {
    background-color: grey
}

.red {
    background-color: #fff;
    border: 2px solid red
}

.red:hover {
    border: 3px solid red
}

.red:focus {
    background-color: red
}

.blue {
    background-color: #fff;
    border: 2px solid #40C4FF
}

.blue:hover {
    border: 3px solid #40C4FF
}

.blue:focus {
    background-color: #40C4FF
}

.darkblue {
    background-color: #fff;
    border: 2px solid #01579B
}

.darkblue:hover {
    border: 3px solid #01579B
}

.darkblue:focus {
    background-color: #01579B
}

.yellow {
    background-color: #fff;
    border: 2px solid #FFCA28
}

.yellow:hover {
    border-radius: 3px solid #FFCA28
}

.yellow:focus {
    background-color: #FFCA28
}

.item-size {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #fff;
    border: 1px solid grey;
    color: grey;
    font-size: 10px;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center
}

.rating-star {
    font-size: 10px !important
}

.rating-number {
    font-size: 10px;
    color: grey
}

.buy {
    font-size: 12px;
    color: purple;
    font-weight: 500
}

.voutchers {
    background-color: #fff;
    border: none;
    border-radius: 10px;
    width: 190px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    overflow: hidden
}

.voutcher-divider {
    display: flex
}

.voutcher-left {
    width: 60%
}

.voutcher-name {
    color: grey;
    font-size: 9px;
    font-weight: 500
}

.voutcher-code {
    color: red;
    font-size: 11px;
    font-weight: bold
}

.voutcher-right {
    width: 40%;
    background-color: purple;
    color: #fff
}

.discount-percent {
    font-size: 12px;
    font-weight: bold;
    position: relative;
    top: 5px
}

.off {
    font-size: 14px;
    position: relative;
    bottom: 5px
}
    </style>



    <form method="post" action="/myapp/company_search_product/">
    <table class="pull-left">
  <tr>
    <td><input type="text" name="name" id="textfield" class="form-control" placeholder="Search" /></td>
    <td><input type="submit" name="button" id="button" value="search" class="btn btn-success" /></td>
  </tr>
</table>
    </form>


    <div class="container mt-5">
    <div class="row">
        {% for i in data %}
        <div class="col-md-3">
            <div class="card">
                <div class="image-container">
                    <div class="first">
                        <div class="d-flex justify-content-between align-items-center"> <span class="wishlist"><i class="fa fa-heart-o"></i></span> </div>
                    </div> <img src="{{ i.photo }}" class="img-fluid rounded thumbnail-image">
                </div>
                <div class="product-detail-container p-2">
                    <div class="d-flex justify-content-between align-items-center">
                        <h5 class="dress-name">{{ i.name }}</h5>
                        <div class="d-flex flex-column mb-2"> <span class="new-price">{{ i.price }}</span> </div>
                    </div>
                    <div class="d-flex justify-content-between align-items-center pt-1">

                        {{ i.description }}
                        </div>
                    <div class="d-flex justify-content-between align-items-center pt-1">


                        <a href="/myapp/company_edit_product/{{ i.id }}" class="btn btn-success">Edit</a>

    <a href="/myapp/company_delete_product/{{ i.id }}" class="btn btn-danger">Delete</a>

{#                        <div> <i class="fa fa-star-o rating-star"></i>  </div>  <span class="buy">#}
{#                        <a href="/myapp/home/">AddToCart</a>#}
                    </span>
                    </div>
                </div>
            </div>

        </div>

        {% endfor %}


    </div>
</div>



{#<form action="/myapp/company_view_category_post/" method="post">#}
{#{% csrf_token %}#}
{#<table class="pull-left">#}
{#  <tr>#}
{#    <td><input type="text" name="textfield" id="textfield" class="form-control" /></td>#}
{#    <td><input type="submit" name="button" id="button" value="search" class="btn btn-success" /></td>#}
{#  </tr>#}
{#</table>#}
{#<br>#}
{#<table class="table table-bordered">#}
{#  <tr>#}
{#    <th>Sno</th>#}
{#    <th>Category</th>#}
{#      <th></th>#}
{##}
{#  </tr>#}
{#    {% for i in data %}#}
{#  <tr>#}
{#    <td width="50px">{{ forloop.counter }}</td>#}
{#    <td>&nbsp;{{ i.categoryname }}</td>#}
{#     <td width="50px">#}
{#         <a href="/myapp/company_delete_category/{{ i.id }}" class="btn btn-danger">Delete</a>#}
{#     </td>#}
{#  </tr>#}
{#    {% endfor %}#}
{#</table>#}
{##}
{#</form>#}

{% endblock %}
