{% extends "user/index.html" %}
{% block body %}


<form action="/myapp/user_editprofile_post/" method="post" enctype="multipart/form-data">
    {% csrf_token %}

<input type="hidden" name="id" value="{{ u.id }}">
<table  class="table table-bordered">
  <tr>
    <td width="180px">Name</td>
    <td><input type="text" class="form-control" required name="textfield" id="textfield"  value="{{ u.name }}"/></td>
  </tr>
  <tr>
    <td>Gender</td>
    <td><select name="select" id="select" class="form-control" required>
      <option value="Male" {% if u.gender == "Male" %} selected {% endif %}>Male</option>
      <option value="FeMale" {% if u.gender == "FeMale" %} selected {% endif %}>FeMale</option>
    </select></td>
  </tr>
  <tr>
    <td>House Name</td>
    <td><input type="text" class="form-control" required name="textfield2" value="{{ u.housename }}" id="textfield" /></td>
  </tr>
  <tr>
    <td>Place</td>
    <td><input type="text" class="form-control" required name="textfield3" value="{{ u.place }}" id="textfield2" /></td>
  </tr>
  <tr>
    <td>City</td>
    <td><input type="text" class="form-control" required name="textfield4" id="textfield3"  value="{{ u.city }}"/></td>
  </tr>
  <tr>
    <td>State</td>
    <td><input type="text"  class="form-control" required name="textfield5"  value="{{ u.state }}" id="textfield4" /></td>
  </tr>
  <tr>
    <td>Email</td>
    <td><input type="email" class="form-control" required name="textfield6" value="{{ u.email }}" id="textfield5" /></td>
  </tr>
  <tr>
    <td>Phone</td>
    <td><input type="text" class="form-control" required name="textfield7" value="{{ u.phone }}" id="textfield6" /></td>
  </tr>
  <tr>
    <td>ChoosePhoto</td>
    <td><input type="file" class="form-control"  name="fileField" id="fileField" /></td>
  </tr>


    <td>&nbsp;</td>
    <td><input type="submit" class="btn btn-success" name="button" id="button" value="Submit" /></td>
  </tr>
</table>
</form>

{% endblock %}
